.featured-index {
  background-color: #1f2e6e;
  color: #fff;
  padding: 0 100px; }

.index-image {
  background: linear-gradient(rgba(31, 46, 110, 0.4), rgba(31, 46, 110, 0.4)), no-repeat url(../images/index-photo.jpg) 50%/100%; }
  .index-image img {
    opacity: 0;
    vertical-align: top;
    width: 100%; }

.index-image-description {
  bottom: 10px;
  left: 25px;
  max-width: 70%;
  position: absolute;
  right: 10px; }
  .index-image-description h2 {
    margin: 0; }

.index-text {
  margin-left: 50px; }

.btn-join {
  background-color: #efb61e; }

.index-main {
  color: #1f2e6e;
  padding: 50px 100px 200px; }
  .index-main section {
    background-color: #ebebeb;
    border-right: 20px solid #9c9c9c;
    padding: 15px 30px; }

.index-article {
  margin: 5px 0; }
  .index-article img {
    border: 5px solid #efb61e; }

.index-aside {
  text-align: right;
  text-transform: uppercase; }

.right-heading-border {
  background-color: #ff3a3a;
  height: 10px;
  position: absolute;
  right: 15px;
  width: 50%; }

.index-article {
  margin-top: 20px; }
  .index-article h2 {
    margin: 0; }

.btn-article-join {
  background-color: #1f2e6e; }

.index-text > h1 {
  font-size: 55px; }

.about-pinus-top {
  background: linear-gradient(rgba(31, 46, 110, 0.7), rgba(31, 46, 110, 0.7)), no-repeat url(../images/index-photo.jpg) 50%/100%;
  color: white;
  padding: 10px 20%;
  text-align: center; }

.about-pinus-text {
  margin-bottom: 30px;
  text-align: center; }
  .about-pinus-text h1 {
    display: inline-block;
    letter-spacing: 0.2em;
    padding: 10px; }
    .about-pinus-text h1:first-child {
      background-color: #1f2e6e; }
    .about-pinus-text h1:last-child {
      background-color: #efb61e; }

.about-main {
  background-color: #fff;
  color: #1f2e6e;
  margin: 0 auto;
  width: 60%; }

.right-heading-border {
  background-color: #ff3a3a;
  height: 8px;
  margin-bottom: 20px;
  width: 50px; }

.shop-item-title {
  margin-top: 20px;
  color: #1f2e6e; }

.shop-item-price {
  color: #ff3a3a; }

.shop-item-description {
  color: #c7c7c7; }

.library-item-title {
  color: #1f2e6e; }

.library-item-availability {
  color: #ff3a3a; }

.library-item-description {
  color: #1f2e6e; }

.add-book {
  background-color: #efb61e;
  display: block;
  font-size: 40px;
  letter-spacing: 0.2em;
  margin: 0 auto 30px;
  text-align: center;
  width: 60%; }

html,
body {
  font-family: 'Hind', 'Montserrat', sans-serif; }

.navbar {
  margin-bottom: 0;
  min-height: 40px; }
  .navbar .container-fluid {
    padding-right: 0; }

.navbar-nav > li > a {
  color: #1f2e6e;
  padding: 10px; }
  .navbar-nav > li > a.sign-up {
    background-color: #efb61e;
    color: #fff; }

.navbar-brand {
  height: 40px;
  padding: 5px 15px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat'; }

p {
  line-height: 17px; }

.btn {
  color: #fff;
  font-family: 'Montserrat';
  text-transform: uppercase; }

body > footer {
  background-color: #ebebeb;
  padding: 10px;
  text-align: center; }
  body > footer img {
    height: 40px; }

.footer-images {
  padding: 10px; }
  .footer-images img {
    margin: 0 4px; }

.heading-border {
  background-color: #ff3a3a;
  height: 8px;
  margin: 0 auto;
  width: 80px; }

.with-bg {
  background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url(../images/bg.png) 0 50%/cover no-repeat; }

.market-main {
  margin: 0 15px;
  padding: 50px 0; }

.pinus-header {
  background-color: #1f2e6e;
  color: #fff;
  margin-bottom: 50px;
  padding: 30px 0;
  text-align: center; }
  .pinus-header h1 {
    letter-spacing: 0.2em; }

.btn-market {
  background-color: #efb61e;
  border-radius: 0;
  color: #1f2e6e !important;
  margin: 5px 30px 0;
  letter-spacing: 0.2em; }

.market-item {
  background-color: #9c9c9c;
  padding: 20px;
  margin: 0 auto 50px;
  width: 60%; }
  .market-item > * {
    display: block;
    margin: 0 auto;
    text-align: center; }
  .market-item img {
    max-height: 200px; }
  .market-item.active {
    background-color: #ffd974; }
  .market-item.borrowed {
    background-color: #ffd974; }
    .market-item.borrowed > .library-item-availability {
      color: #9c9c9c; }

/*# sourceMappingURL=application.css.map */
