@import 'colors';
@import 'index';
@import 'about';
@import 'shop';
@import 'library';

html,
body {
	font-family: 'Hind', 'Montserrat', sans-serif;
}

.navbar {
  margin-bottom: 0;
  min-height: 40px;

  .container-fluid {
    padding-right: 0;
  }
}

.navbar-nav > li > a {
  color: $purple;
  padding: 10px;

  &.sign-up {
    background-color: $yellow;
    color: #fff;
  }
}

.navbar-brand {
  height: 40px;
  padding: 5px 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat';
}

p {
  line-height: 17px;
}

.btn {
  color: #fff;
  font-family: 'Montserrat';
  text-transform: uppercase;
}

body > footer {
  background-color: $light-gray;
  padding: 10px;
  text-align: center; 

  img {
    height: 40px;
  }
}

.footer-images {
  padding: 10px;

  img {
    margin: 0 4px;
  }
}

.heading-border {
  background-color: $red;
  height: 8px;
  margin: 0 auto;
  width: 80px;
}

.with-bg {
  background: linear-gradient($bg-overlay, $bg-overlay), url(../images/bg.png) 0 50% / cover no-repeat;
}

.market-main {
  margin: 0 15px;
  padding: 50px 0;
}

.pinus-header {
  background-color: $purple;
  color: #fff;
  margin-bottom: 50px;
  padding: 30px 0;
  text-align: center;

  h1 {
    letter-spacing: 0.2em;
  }
}

.btn-market {
  background-color: $yellow;
  border-radius: 0;
  color: $purple !important;
  margin: 5px 30px 0;
  letter-spacing: 0.2em;
}

.market-item {
  background-color: $gray;
  padding: 20px;
  margin: 0 auto 50px;
  width: 60%;

  > * {
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  img {
    max-height: 200px;
  }

  &.active {
    background-color: $light-yellow;
  }

  &.borrowed {
    background-color: $light-yellow;

    > .library-item-availability {
      color: $gray;
    }
  }
}
