$purple: #1f2e6e;
$yellow: #efb61e;
$gray: #9c9c9c;

$light-purple: #51609b;
$mid-purple: #334383;
$dark-purple: #0d1b55;
$light-yellow: #ffd974;
$dark-yellow: #fbcc4b;
$red: #ff3a3a;
$light-gray: #ebebeb;
$dark-gray: #c7c7c7;
